Igor Gnatenko <i.gnatenko.brain@gmail.com> Igor Gnatenko <ignatenko@redhat.com>
Jussi Pakkanen <jpakkane@gmail.com> Jussi Pakkanen <jpakkane@brash.local>
Jussi Pakkanen <jpakkane@gmail.com> jpakkane <jpakkane@gmail.com>
Nirbheek Chauhan <nirbheek@centricular.com> Nirbheek Chauhan <nirbheek.chauhan@gmail.com>
Nicolas Schneider <nioncode+git@gmail.com>  Nicolas Schneider <nioncode+github@gmail.com>
Tim-Philipp Müller <tim@centricular.com> Tim-Philipp Müller <tim@centricular.net>
