[MASTER]
jobs=0

[REPORTS]
score=no

[MESSAGES CONTROL]
disable=all
enable=
    abstract-class-instantiated,
    assert-on-tuple,
    bad-indentation,
    compare-to-zero,
    dangerous-default-value,
    deprecated-lambda,
    len-as-condition,
    literal-comparison,
    missing-kwoa,
    mixed-indentation,
    no-value-for-parameter,
    redundant-keyword-arg,
    singleton-comparison,
    too-many-function-args,
    unexpected-keyword-arg,
    unreachable,
    bare-except
