name: $(BuildID)

trigger:
  branches:
    include:
    - 'master'

variables:
  MESON_FIXED_NINJA: 1
  CI: 1

jobs:
#- job: vs2015
#  pool:
#    vmImage: vs2015-win2012r2
#
#  strategy:
#    maxParallel: 10
#    matrix:
#        vc2015x86ninja:
#          arch: x86
#          compiler: msvc2015
#          backend: ninja
#        vc2015x86vs:
#          arch: x86
#          compiler: msvc2015
#          backend: vs2015
#
#  steps:
#  - template: ci/azure-steps.yml

- job: vs2017
  pool:
    vmImage: VS2017-Win2016

  strategy:
    maxParallel: 10
    matrix:
        vc2017x64ninja:
          arch: x64
          compiler: msvc2017
          backend: ninja
        vc2017x64vs:
          arch: x64
          compiler: msvc2017
          backend: vs2017

  steps:
  - template: ci/azure-steps.yml
