<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th class="text-center text-nowrap">Name</th>
      <th class="text-center text-nowrap">Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#args}}
    <tr id="{{row-id}}">
      <td class="text-center text-nowrap">

<code class="language-meson">{{name}}</code>
{{#since}}<br>{meson:since}`{{since}}`
{{/since}}{{#deprecated}}<br>{meson:deprecated}`{{deprecated}}`
{{/deprecated}}{{#optional}}<br>{meson:optional}` `
{{/optional}}
</td>
      <td class="text-center">

{{&type}}
{{#default}}<br><code class="language-meson text-nowrap">default = {{default}}</code>
{{/default}}
</td>
      <td>

{{&description}}
</td>
    </tr>
    {{/args}}
  </tbody>
</table>
