{{#since}}{meson:since}`{{since}}`
{{/since}}
{{#deprecated}}{meson:deprecated}`{{deprecated}}`
{{/deprecated}}
{{#optional}}{meson:optional}` `
{{/optional}}
{{#default}}<code class="language-meson text-nowrap">default = {{default}}</code>
{{/default}}
